- name: Install haproxy
  package:
    name: haproxy
    state: present

- name: Configure haproxy
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
  notify: restart haproxy

- name: Enable haproxy
  service:
    name: haproxy
    enabled: true
    state: started
